.keyboard-left-column {
    float: right;
}

.keyboard-button {
    display: block;
    margin: 10px 10px;
    height: 35vw;
    width: 35vw;
    max-height: 160px;
    max-width: 160px;
    background-color: rgba(108, 117, 125, .65);
}

.keyboard-button img {
    height: 40%;
}

@media screen and (min-width: 768px) {
    .keyboard-left-column {
        float: inherit;
    }
    .keyboard-button {
        margin: 10px auto;
    }
}