@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.outer {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    background: rgb(9, 56, 121) !important;
    background: linear-gradient(45deg, rgba(9, 56, 121, 1) 13%, rgba(0, 212, 255, 1) 100%) !important;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 1300px;
    width: 100vw;
}

.cancel-btn {
    position: fixed;
    top: 10px;
    left: 10px;
}

.qm-join-summary {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: right;
    position: fixed;
    top: 10px;
    right: 0;
    font-size: 1.2rem;
}

.qm-join-summary > div {
    padding-top: 0.25em;
    padding-bottom: 0.1em;
    height: 2em;
    max-height: 2em;
}

.qm-join-summary-url {
    background-color: #6c757d;
    color: white;
    border-radius: 0.4em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    margin-left: 0.5em;
}

.qm-join-summary-copy-button {
    margin-top: -0.25em;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .outer {
        font-size: 16px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .outer {
        font-size: 22px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .outer {
        font-size: 26px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .outer {
        font-size: 28px;
    }
}
