.connection-warning {
    text-align: left;
    max-width: 40em;
    font-size: 1.10rem;
}

.connection-warning h1 {
    font-size: 1.25em;
    width: 100%;
    border-top: 1px solid white;
    padding: 0.3em 0 0.4em 0;
    border-bottom: 1px solid white;
}

.connection-warning p:first-of-type {
    margin-top: 2em;
}

.connection-warning p {
    line-height: 1.8em;
}

.connection-warning p:last-of-type {
    margin-bottom: 2.0em;
}
