.creating-text-box {
    margin: 0 auto;
    max-width: 300px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.vcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-order-buttons button {
    width: 9em;
}
