@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-family: 'Comfortaa', 'Segoe UI', sans-serif;
    background: rgb(9,56,121) !important;
    background: linear-gradient(45deg, rgba(9,56,121,1) 13%, rgba(0,212,255,1) 100%) !important;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 1300px;
    width: 100vw;
}

.cancel-btn {
    position: fixed;
    top: 10px;
    left: 10px;
}

.room-header {
    text-align: right;
    position: fixed;
    top: 10px;
    right: 10px;
}

.watermark-logo {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    text-align: center;
    padding-bottom: 14px;
    opacity: 0.4;
}

.watermark-logo img {
    height: 25px;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .outer { font-size: 16px; }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .outer { font-size: 22px; }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .outer { font-size: 26px; }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .outer { font-size: 32px; }
}